# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Directories
bin/
include/
lib/
lib64/
share/

# Files
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/